

/* Firefox */
* {
    scrollbar-width: thin;
}

.skeleton {
    background: linear-gradient(90deg, #333 25%, #555 50%, #333 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1s infinite linear;
    border-radius: 4px;
    line-height: 1;
    /* Prevent content from affecting height */
}

.thumbnail-skeleton {
    width: 350px;
    height: 65px;
    border-radius: 8px;
    /* Match thumbnail border-radius */
}

.skeleton-title {
    width: 70%;
    height: 1em;
}

.skeleton-artist {
    width: 50%;
    height: 0.8em;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #fff;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.intro-img {
    width: 450px;
    height: 325px;
}

.intro-text {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    animation: glow 5s ease-in-out 1;
}

.intro-text-jp {
    font-size: 1.5rem;
}

.intro-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 32px 16px;
    width: 100%;
}

.intro-section {
    color: #e1e1e1;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
}

.intro-section img {
    border-radius: 5px;
}

.intro-credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.intro-pfp {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #e1e1e1;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0.5px #fff, 0 0 1px #fff, 0 0 1.5px #e60073, 0 0 2px #e60073, 0 0 2.5px #e60073, 0 0 3px #e60073, 0 0 3.5px #e60073;
    }

    50% {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
    }

    100% {
        text-shadow: none;
    }
}

#intro-video {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 8px;
    background-color: rgba(0, 0, 0, 0.8);
}

.video-meme {
    width: 100px;
    height: 100px;
}

#banner-img {
    filter: brightness(0.7);
    box-shadow: 0 0 40px 20px black;
    transition: filter 0.1s ease-in;
    
    &:hover{
        filter: brightness(0.4);
    }
}

#main-message {
    background-color: rgba(0, 0, 0, 0.9);
}

.pfp-container {
    width: 50px;
    height: 50px;
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
}

.pfp-image {
    width: 100%;
    height: 100%;
    border: 3px solid #e1e1e1;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.pfp-name {
    text-align: center;
    margin-top: 5px;
    font-size: 0.55rem;
    color: #e1e1e1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.6);
}

#side-overlay {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
}

.side-overlay-left {
    left: 5%;
}

.side-overlay-right {
    right: 5%;
}

.overlay-text {
    font-style: italic;
    color: #e1e1e1;
    white-space: pre-line;
    width: 80%;
    align-self: center;
    flex: 1 1 auto;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-name {
    font-size: 14px;
    color: #e1e1e1;
    align-self: end;
}

.overlay-close {
    position: absolute;
    top: 6px;
    font-size: 1.4rem;
    color: #e1e1e1;
    cursor: pointer;
    user-select: none;
}

.overlay-close-right {
    right: 10px;
}

.overlay-close-left {
    left: 10px;
}

.flash-box-shadow {
    animation: flash 2s ease-in-out;
}

@keyframes flash {
    0% {
        box-shadow: 0 0 0px rgba(255, 255, 0, 0);
    }

    50% {
        box-shadow: 0 0 20px #e60073;
    }

    100% {
        box-shadow: 0 0 0px rgba(255, 255, 0, 0);
    }
}

@media (min-width: 768px) {
    .video-meme {
        width: 250px;
        height: 250px;
    }

    .pfp-name {
        font-size: 1rem;
    }

    .overlay-text.overlay-overflow {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: 767px) {
    #side-overlay {
        position: static;
        top: auto;
        left: auto;
        right: auto;
        width: 90%;
        height: auto;
        margin: 24px auto;
    }

    .side-overlay-left,
    .side-overlay-right {
        left: auto;
        right: auto;
    }
}